#set($v4Loopback=$station.loopback.inet4Address.hostAddress)
#set($v6Loopback=$station.loopback.inet6Address.hostAddress)

/system identity set name="Station $station.name"

# all interfaces in routing mode
/interface ethernet
#foreach($interface in $networkInterfaces)
	set [ find mac-address=$interface.macAddress ] master-port=none speed=1Gbps name=$interface.ifName
#end

/ip address
# fall back IP
#	add address=192.168.88.1/24 interface=$networkInterfaces[0].ifName
	
# configured IPs
#foreach($interface in $networkInterfaces)
#if($interface.v4Address)
	add address=$interface.v4Address/$interface.v4Mask interface=$interface.ifName
#end	
#end



# ipv4 ospf Routing
/interface bridge add name=loopback
/ip address add address=$v4Loopback/32 interface=loopback network=$v4Loopback
/routing ospf instance set [ find default=yes ] router-id=$v4Loopback

/routing ospf network
	add area=backbone network=$v4Loopback/32
#foreach($interface in $networkInterfaces)
#if($interface.v4Address)
	add area=backbone network=$interface.v4NetAddress/$interface.v4Mask
#end	
#end
